* {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: black;
}

body {
  background-image: url(../images/RockPaperScissorbackground.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#result {
  padding: 1rem;
  background-color: skyblue;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  border-radius: 1rem;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  display: none;
}

#score {
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  background-color: skyblue;
  border-radius: 1rem;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  display: none;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#play-button {
  padding: 1rem;
  font-size: 5rem;
  font-weight: bold;
  background-color: skyblue;
  border-radius: 1rem;
  border-width: 10px;
  border-color: black;
}

#play-button:hover {
  background-color: lawngreen;
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.1);
}

.rpsButtons {
  margin: 2rem 1rem;
  padding: 1rem;
  font-size: 3rem;
  font-weight: bold;
  background-color: skyblue;
  border-radius: 1rem;
  border-width: 10px;
  border-color: black;
}

.rpsButtons:hover {
  background-color: lawngreen;
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.1);
}

/* For mobile */
@media (max-width: 480px) {
  #result {
    padding: 0.5rem;
    margin: 1rem;
    font-size: 2rem;
  }

  #buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .rpsButtons {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 2rem;
    color: black;
  }

  #score {
    padding: 0.5rem;
    margin: 1rem;
    font-size: 2rem;
  }
}

/* For tablet */
@media (min-width: 481px) and (max-width: 768px) {
  #result {
    padding: 0.5rem;
    margin: 1rem;
    font-size: 2rem;
  }

  #buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .rpsButtons {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 2rem;
    color: black;
  }

  #score {
    padding: 0.5rem;
    margin: 1rem;
    font-size: 2rem;
  }
}

/* For laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  #result {
    padding: 0.75rem;
    margin: 1rem;
    font-size: 2.5rem;
  }

  #buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .rpsButtons {
    padding: 0.75rem;
    margin: 1rem;
    font-size: 2.5rem;
    color: black;
  }

  #score {
    padding: 0.75rem;
    margin: 1rem;
    font-size: 2.5rem;
  }
}

/* For desktop */
@media (min-width: 1025px) and (max-width: 1200px) {
  #result {
    padding: 0.75rem;
    margin: 1rem;
    font-size: 2.5rem;
  }

  #buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .rpsButtons {
    padding: 0.75rem;
    margin: 1rem;
    font-size: 2.5rem;
    color: black;
  }

  #score {
    padding: 0.75rem;
    margin: 1rem;
    font-size: 2.5rem;
  }
}

/* Media query for height */
@media (max-height: 600px) {
  #result {
    padding: 0.35rem;
    margin: 1rem;
    font-size: 1.75rem;
  }

  #buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .rpsButtons {
    padding: 0.35rem;
    margin: 0.25rem;
    font-size: 1.75rem;
    color: black;
  }

  #score {
    padding: 0.35rem;
    margin: 1rem;
    font-size: 1.75rem;
  }
}
