* {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-image: url(../images/RockPaperScissorbackground.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#score {
  padding: 1rem;
  background-color: skyblue;
  font-size: 5rem;
  font-weight: bold;
  border-radius: 1rem;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  position: absolute;
  top: 25%;
  display: none;
}

#play-btn {
  padding: 1rem;
  background-color: skyblue;
  font-size: 5rem;
  font-weight: bold;
  border-radius: 1rem;
  border-width: 10px;
  border-color: black;
}
#play-btn:hover {
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.1);
}

.rpsButtons {
  margin: 1rem;
  padding: 1rem;
  background-color: skyblue;
  font-size: 5rem;
  font-weight: bold;
  border-radius: 1rem;
  border-width: 10px;
  border-color: black;
}

.rpsButtons:hover {
  background-color: lawngreen;
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.1);
}
