* {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-image: url(../images/RockPaperScissorbackground.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#result {
  padding: 1rem;
  background-color: skyblue;
  font-size: 4rem;
  font-weight: bold;
  border-radius: 1rem;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  display: none;
}

#score {
  padding: 1rem;
  font-size: 4rem;
  font-weight: bold;
  background-color: skyblue;
  border-radius: 1rem;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  display: none;
}

#play-button {
  padding: 1rem;
  font-size: 5rem;
  font-weight: bold;
  background-color: skyblue;
  border-radius: 1rem;
  border-width: 10px;
  border-color: black;
}

#play-button:hover {
  background-color: lawngreen;
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.1);
}

.rpsButtons {
  margin: 5rem 1.5rem;
  padding: 1rem;
  font-size: 4rem;
  font-weight: bold;
  background-color: skyblue;
  border-radius: 1rem;
  border-width: 10px;
  border-color: black;
}

.rpsButtons:hover {
  background-color: lawngreen;
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  #rpsButtons {
    background-color: brown;
  }
}
